<!DOCTYPE html>
<html>
<head>
    <title>Students</title>

    <style>
        table{
            border-collapse:collapse;
            width:90%;
            margin:auto;
        }

        th,td{
            border:1px solid black;
            padding:10px;
            text-align:center;
        }

        h1{
            text-align:center;
        }
    </style>
</head>
<body>
<h1>Student Details</h1>

<form method="GET" action="/students">
    <input type="text" name="query" placeholder="Search student">
    <button type="submit">Search</button>
    <a href="/students">Show All</a>
</form>

<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roll No</th>
        <th>Department</th>
        <th>Year</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student[0] }}</td>
        <td>{{ student[1] }}</td>
        <td>{{ student[2] }}</td>
        <td>{{ student[3] }}</td>
        <td>{{ student[4] }}</td>
        <td>{{ student[5] }}</td>

        <td><a href="/edit_student/{{ student[0] }}">Edit</a></td>
        <td><a href="{{ url_for('delete_student', id=student[0]) }}"
   class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="{{ url_for('dashboard') }}" class="btn btn-secondary">
    Back to Dashboard
</a>


</body>
</html>